@import 'variables';
.page{
    background-color: rgba(210, 210, 210, 1);
}
.level,.more{
    color:rgba(253, 0, 84, 1);
    font-weight: 600;
    font-size: 15px;
}
.level{
    font-size: 18px;
    border: 2px solid rgba(253, 0, 84, 1);
}
.more{
    font-size: 15px;
}
.duration, .description{
    font-size: 12px;
    margin: 0;
}
.description{
    white-space: nowrap;
}
// .col-md-4{
//     width: 32%;
//     margin-bottom: 10px; 
//     margin-right: 5px;
// }
