<<<<<<< HEAD
body {
  background-color: #d2d2d2; }

.form-custom {
  position: relative; }

.form .bi-search {
  position: absolute;
  font-size: 1.5rem;
  top: 9px;
  left: 15px;
  color: #9ca3af; }

.form span .bi-x-circle-fill {
  position: absolute;
  font-size: 1.5rem;
  right: 15px;
  top: 9px;
  padding: 2px;
  color: #9ca3af; }

.left-pan {
  padding: 7px; }

.left-pan i {
  padding-left: 10px; }

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 15px;
  background-color: white; }

.form-input :focus {
  box-shadow: none;
  border: none; }

.card-content {
  border-radius: 20px; }

.rounded-image {
  border-radius: 20px;
  max-width: 85%;
  max-height: 85%; }

.card-body-text {
  padding: auto; }

.btn-custom {
  border-radius: 20px; }
=======
.admin_heading {
  background-image: url("/img/bg_heading.png");
  background-size: cover;
  background-repeat: no-repeat; }

.logo_admin {
  width: 30px;
  height: 32px; }

.hpm {
  font-size: 20px;
  font-weight: 700; }

.admin_header > li {
  font-weight: 700;
  border-color: #fd0054; }

.logout {
  color: white;
  background-color: #fd0054;
  font-weight: 700; }

.footer {
  background-color: #2b2024; }

.heading_footer {
  color: #fd0054; }

.header {
  background-image: url("/img/bg.png");
  height: 500px;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  opacity: 1; }

.nav-item {
  font-size: 20px;
  font-weight: 700; }

.button_header {
  background-color: #fd0054;
  color: white;
  font-weight: 500;
  border-radius: 20px; }

.user_icon {
  width: 40px; }

.heading > h2 {
  color: #fd0054;
  font-weight: 700; }

h4 {
  color: aliceblue; }

.service, .contact {
  line-height: 30px; }
>>>>>>> develop
