<div class="admin_header">
    <div class="admin_heading p-3">
        <h4 class="text-center text-light">ADMIN</h4 class="text-center p-4">
    </div>
    <div class="admin_navbar row">
        <div class="col-lg-2 col-12 d-flex m-2 mx-lg-5 justify-content-center align-items-center">
            <img class="mw-75 logo_admin mx-1" src="./img/logo.jpg" alt="">
            <p class="hpm text-center m-0  ">HappyMinds</p>
        </div>
        <div class="col-lg-6 col-12">
            <ul class="admin_header mx-2 p-0 d-flex flex-row justify-content-md-between justify-content-between pt-4" style="list-style-type: none;">
                <li class="border-3 border-bottom px-2" style="border-color: rgba(253, 0, 84, 1);" >VIDEO</li>
                <li class="border-3 border-bottom px-2">USER</li>
                <li class="border-3 border-bottom px-2">FOOD</li>
                <li class="border-3 border-bottom px-2">BLOG</li>
            </ul>
        </div>
        <div class="col-lg-2 col-12 d-flex justify-content-lg-end justify-content-center">
            <button class="logout border-0 rounded-5 px-3 py-1 my-4 ">Log out</button>
        </div>
    </div>
</div>