<div class="table-videos">
    <table class="table table-bordered table-striped table-hover" style="text-align: center;">
        <thead class="table-secondary">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Calories amount</th>
                <th>Level</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each videos}}
            <tr>
                <th>{{this.videoId}}</th>
                <th>{{this.title}}</th>
                <th>{{this.caloriesAmount}}</th>
                <th>{{this.level}}</th>
                <th>
                    <button></button>
                </th>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>