<div class="container bg pt-4 pb-2">
  <h2 class="d-flex justify-content-center pb-4">Suggested <span class="text-danger d-flex" style="white-space: pre;"> Calorie </span> Content of Each Dish</h2>

  <form action="/food/find" method="post">
    <div class="row d-flex justify-content-center pb-2">
      <div class="col-lg-6">
        <div class="input-group mb-3" style="width: 600px;">
          <input type="text" name="search" class="form-control form-input rounded-star" id="search" placeholder="Search Food ..."
            style="height: 55px;border-radius:15px 0px 0px 15px;" oninput=renderResultSearch()>
          <div class="input-group-append">
            <button class="btn bg-white" type="submit"
              style="height: 53px;border-radius:0px 15px 15px 0px;margin-top:1px">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <a href="/food/up">
    <button class="btn btn-primary" id="sortUpBtn" onclick="">
      <i class="bi bi-sort-up"></i>
    </button>
  </a>
  <a href="/food/down">
    <button class="btn btn-primary" id="sortDownBtn">
      <i class="bi bi-sort-down"></i>
    </button>
  </a>
  <div id="foodlist">

  </div>
  
</div>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

<script src="/js/food.js"></script>
<script>
  let food = {{{ json foods }}};
  renderFoodList(food);
</script>