<h1>user page</h1>
{{#each videos}}
  <div class="card" style="width: 18rem;">
    <a href="/video/{{this.videoId}}">
      <img src="{{this.image}}" class="card-img-top" alt="image">
    </a>
    <div class="card-body">
      <a href="/video/{{this.videoId}}"></a>
      <p class="card-text">{{this.title}}</p>
    </div>
  </div>
{{/each}}
