<div class="container-fluid page">
    <div class="intro_video text-center d-flex flex-column align-items-center py-4 pt-5">
        <h3 style="color: rgba(253, 0, 84, 1);">COACHES</h3>
        <p style="font-size: 16px; font-weight: 500;">BUILD YOUR BODY<br>OUR EXERCISE</p>
    </div>
        <div class="level_block mx-md-5 mx-3 my-md-3 my-2 ">
        <div class="row justify-content-between mx-5 ">
            <p class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0"  id="level_1">LEVEL 1</p>
            <div class="col-md-5 col-5 m-1 more d-md-none d-flex justify-content-end align-items-center px-0">SEE MORE</div>
        </div>
        <div class="justify-content-md-start mx-5 row gap-4  justify-content-between">
            <a class="m-0 p-0 col-md-3 col-12" href="/video/id">
                <div class="ex-card bg-light rounded-0 p-2  mb-2 rounded-1">
                    <img class="w-100" src="./img/video_example.png" alt="">
                    <h5 class="title mt-2 m-0">Paris</h5>
                    <p class="duration"><b>Duration: </b>120p</p>
                    <p class="description overflow-hidden nowrap"><b>Description: </b> bai tap tay cho nguoi cut tay </p>
                </div>
            </a>
            
           <a class="m-0 p-0 col-md-3 col-12" href="/video/id">
                <div class="ex-card bg-light rounded-0 p-2  mb-2 rounded-1">
                    <img class="w-100" src="./img/video_example.png" alt="">
                    <h5 class="title mt-2 m-0">Paris</h5>
                    <p class="duration"><b>Duration: </b>120p</p>
                    <p class="description overflow-hidden nowrap"><b>Description: </b> bai tap tay cho nguoi cut tay </p>
                </div>
            </a>
            <a class="m-0 p-0 col-md-3 col-12" href="/video/id">
                <div class="ex-card bg-light rounded-0 p-2 mb-2 rounded-1">
                    <img class="w-100" src="./img/video_example.png" alt="">
                    <h5 class="title mt-2 m-0">Paris</h5>
                    <p class="duration"><b>Duration: </b>120p</p>
                    <p class="description overflow-hidden nowrap"><b>Description: </b> bai tap tay cho nguoi cut tay </p>
                </div>
            </a>
            <a class="col-md-2 d-md-flex d-none justify-content-center flex-column" href="">
                <div class="seeMore m-0 ">
                    <svg style=" color:rgba(253, 0, 84, 1);" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                    <p style="font-size: 30px; color:rgba(253, 0, 84, 1);">See more</p>
                </div>
            </a>
        </div>
    </div>
       <div class="level_block mx-md-5 mx-3 my-md-3 my-2 ">
        <div class="row justify-content-between mx-5 ">
            <p class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0"  id="level_2">LEVEL 2</p>
            <div class="col-md-5 col-5 m-1 more d-md-none d-flex justify-content-end align-items-center px-0">SEE MORE</div>
        </div>
        <div class="justify-content-md-start mx-5 row gap-4  justify-content-between">
            <a class="m-0 p-0 col-md-3 col-12" href="">
                <div class="ex-card bg-light rounded-0 p-2  mb-2 rounded-1">
                    <img class="w-100" src="./img/video_example.png" alt="">
                    <h5 class="title mt-2 m-0">Paris</h5>
                    <p class="duration"><b>Duration: </b>120p</p>
                    <p class="description overflow-hidden nowrap"><b>Description: </b> bai tap tay cho nguoi cut tay </p>
                </div>
            </a>
            
           <a class="m-0 p-0 col-md-3 col-12" href="">
                <div class="ex-card bg-light rounded-0 p-2  mb-2 rounded-1">
                    <img class="w-100" src="./img/video_example.png" alt="">
                    <h5 class="title mt-2 m-0">Paris</h5>
                    <p class="duration"><b>Duration: </b>120p</p>
                    <p class="description overflow-hidden nowrap"><b>Description: </b> bai tap tay cho nguoi cut tay </p>
                </div>
            </a>
            <a class="m-0 p-0 col-md-3 col-12" href="">
                <div class="ex-card bg-light rounded-0 p-2 mb-2 rounded-1">
                    <img class="w-100" src="./img/video_example.png" alt="">
                    <h5 class="title mt-2 m-0">Paris</h5>
                    <p class="duration"><b>Duration: </b>120p</p>
                    <p class="description overflow-hidden nowrap"><b>Description: </b> bai tap tay cho nguoi cut tay </p>
                </div>
            </a>
            <a class="col-md-2 d-md-flex d-none justify-content-center flex-column" href="">
                <div class="seeMore m-0 ">
                    <svg style=" color:rgba(253, 0, 84, 1);" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                    <p style="font-size: 30px; color:rgba(253, 0, 84, 1);">See more</p>
                </div>
            </a>
        </div>
    </div>
    <div class="level_block mx-md-5 mx-3 my-md-3 my-2 ">
        <div class="row justify-content-between mx-5 ">
            <p class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0"  id="level_3">LEVEL 3</p>
            <div class="col-md-5 col-5 m-1 more d-md-none d-flex justify-content-end align-items-center px-0">SEE MORE</div>
        </div>
        <div class="justify-content-md-start mx-5 row gap-4  justify-content-between">
            <a class="m-0 p-0 col-md-3 col-12" href="">
                <div class="ex-card bg-light rounded-0 p-2  mb-2 rounded-1">
                    <img class="w-100" src="./img/video_example.png" alt="">
                    <h5 class="title mt-2 m-0">Paris</h5>
                    <p class="duration"><b>Duration: </b>120p</p>
                    <p class="description overflow-hidden nowrap"><b>Description: </b> bai tap tay cho nguoi cut tay </p>
                </div>
            </a>
            
           <a class="m-0 p-0 col-md-3 col-12" href="">
                <div class="ex-card bg-light rounded-0 p-2  mb-2 rounded-1">
                    <img class="w-100" src="./img/video_example.png" alt="">
                    <h5 class="title mt-2 m-0">Paris</h5>
                    <p class="duration"><b>Duration: </b>120p</p>
                    <p class="description overflow-hidden nowrap"><b>Description: </b> bai tap tay cho nguoi cut tay </p>
                </div>
            </a>
            <a class="m-0 p-0 col-md-3 col-12" href="">
                <div class="ex-card bg-light rounded-0 p-2 mb-2 rounded-1">
                    <img class="w-100" src="./img/video_example.png" alt="">
                    <h5 class="title mt-2 m-0">Paris</h5>
                    <p class="duration"><b>Duration: </b>120p</p>
                    <p class="description overflow-hidden nowrap"><b>Description: </b> bai tap tay cho nguoi cut tay </p>
                </div>
            </a>
            <a class="col-md-2 d-md-flex d-none justify-content-center flex-column" href="">
                <div class="seeMore m-0 ">
                    <svg style=" color:rgba(253, 0, 84, 1);" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                    <p style="font-size: 30px; color:rgba(253, 0, 84, 1);">See more</p>
                </div>
            </a>
        </div>
    </div>
    

    
</div>